In [58]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

from fuzzywuzzy import fuzz
from fuzzywuzzy import process

In [28]:
df = pd.read_csv('test.csv', encoding='windows-1251', sep=',')
original = 'VPVNPEPDATSVENVALKTGSGDSQSDPIKADLEVKGQSALPFDVDCWAILCKGAPNVLQRVNEKTKNSNRDRSGANKGPFKDPQKWGIKALPPKNPSWSAQDFKSPEEYAFASSLQGGTNAILAPVNLASQNSQGGVLNGFYSANKVAQFDPSKPQQTKGTWFQITKFTGAAGPYCKALGSNDKSVCDKNKNIAGDWGFDPAKWAYQYDEKNNKFNYVGK'

In [29]:
df.head()

   seq_id                                   protein_sequence  pH data_source
0   31390  VPVNPEPDATSVENVAEKTGSGDSQSDPIKADLEVKGQSALPFDVD...   8   Novozymes
1   31391  VPVNPEPDATSVENVAKKTGSGDSQSDPIKADLEVKGQSALPFDVD...   8   Novozymes
2   31392  VPVNPEPDATSVENVAKTGSGDSQSDPIKADLEVKGQSALPFDVDC...   8   Novozymes
3   31393  VPVNPEPDATSVENVALCTGSGDSQSDPIKADLEVKGQSALPFDVD...   8   Novozymes
4   31394  VPVNPEPDATSVENVALFTGSGDSQSDPIKADLEVKGQSALPFDVD...   8   Novozymes

In [30]:
df['protein_sequence']

0       VPVNPEPDATSVENVAEKTGSGDSQSDPIKADLEVKGQSALPFDVD...
1       VPVNPEPDATSVENVAKKTGSGDSQSDPIKADLEVKGQSALPFDVD...
2       VPVNPEPDATSVENVAKTGSGDSQSDPIKADLEVKGQSALPFDVDC...
3       VPVNPEPDATSVENVALCTGSGDSQSDPIKADLEVKGQSALPFDVD...
4       VPVNPEPDATSVENVALFTGSGDSQSDPIKADLEVKGQSALPFDVD...
                              ...
2408    VPVNPEPDATSVENVILKTGSGDSQSDPIKADLEVKGQSALPFDVD...
2409    VPVNPEPDATSVENVLLKTGSGDSQSDPIKADLEVKGQSALPFDVD...
2410    VPVNPEPDATSVENVNLKTGSGDSQSDPIKADLEVKGQSALPFDVD...
2411    VPVNPEPDATSVENVPLKTGSGDSQSDPIKADLEVKGQSALPFDVD...
2412    VPVNPEPDATSVENVWLKTGSGDSQSDPIKADLEVKGQSALPFDVD...
Name: protein_sequence, Length: 2413, dtype: object

In [53]:
df.protein_sequence

0       VPVNPEPDATSVENVAEKTGSGDSQSDPIKADLEVKGQSALPFDVD...
1       VPVNPEPDATSVENVAKKTGSGDSQSDPIKADLEVKGQSALPFDVD...
2       VPVNPEPDATSVENVAKTGSGDSQSDPIKADLEVKGQSALPFDVDC...
3       VPVNPEPDATSVENVALCTGSGDSQSDPIKADLEVKGQSALPFDVD...
4       VPVNPEPDATSVENVALFTGSGDSQSDPIKADLEVKGQSALPFDVD...
                              ...
2408    VPVNPEPDATSVENVILKTGSGDSQSDPIKADLEVKGQSALPFDVD...
2409    VPVNPEPDATSVENVLLKTGSGDSQSDPIKADLEVKGQSALPFDVD...
2410    VPVNPEPDATSVENVNLKTGSGDSQSDPIKADLEVKGQSALPFDVD...
2411    VPVNPEPDATSVENVPLKTGSGDSQSDPIKADLEVKGQSALPFDVD...
2412    VPVNPEPDATSVENVWLKTGSGDSQSDPIKADLEVKGQSALPFDVD...
Name: protein_sequence, Length: 2413, dtype: object

In [55]:
levenshtein(df.protein_sequence.iloc[0], original)

1

In [56]:
df.protein_sequence.iloc[0] #vrode ENVALKT na ENVAEKT

'VPVNPEPDATSVENVAEKTGSGDSQSDPIKADLEVKGQSALPFDVDCWAILCKGAPNVLQRVNEKTKNSNRDRSGANKGPFKDPQKWGIKALPPKNPSWSAQDFKSPEEYAFASSLQGGTNAILAPVNLASQNSQGGVLNGFYSANKVAQFDPSKPQQTKGTWFQITKFTGAAGPYCKALGSNDKSVCDKNKNIAGDWGFDPAKWAYQYDEKNNKFNYVGK'

'VPVNPEPDATSVENVALKTGSGDSQSDPIKADLEVKGQSALPFDVDCWAILCKGAPNVLQRVNEKTKNSNRDRSGANKGPFKDPQKWGIKALPPKNPSWSAQDFKSPEEYAFASSLQGGTNAILAPVNLASQNSQGGVLNGFYSANKVAQFDPSKPQQTKGTWFQITKFTGAAGPYCKALGSNDKSVCDKNKNIAGDWGFDPAKWAYQYDEKNNKFNYVGK'